@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header {
  position: absolute;
  width: 1600px;
  height: 800px;
  overflow: hidden;
}

.header-menu {
  background: url(../img/Layer7.png) no-repeat;
  height: 800px;
}

.header-row {
  padding-top: 35px;
  display: flex;
  gap: 63px;
  justify-content: center;
  align-items: center;
}

.about {
  font-family: "Lato";
  font-size: 13px;
  text-transform: uppercase;
  color: #4d4959;
  font-weight: 700;
}

.world-spa {
  word-spacing: 30px;
}

.header-contact {
  font-family: "Lato";
  font-size: 13px;
  text-transform: uppercase;
  color: #4d4959;
  font-weight: 700;
}

.footer {
  width: 1600px;
  height: 250px;
  background-color: #f7f7f7;
  padding-top: 100px;
}

.footer-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-left {
  width: 264px;
  height: 56px;
  font-size: 16px;
  line-height: 18px;
  color: #848789;
  font-weight: 700;
  font-family: "Lato";
}

.footer-center {
  margin: 0px auto;
}

.footer-center-row {
  display: flex;
  gap: 15px;
}

.footer-right-row {
  display: flex;
  gap: 9px;
}

.footer-right-text {
  width: 264px;
  height: 15px;
  font-size: 14px;
  line-height: 18px;
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  text-align: right;
}

/*--------------------*/
.wrapper {
  width: 1602px;
  height: 4992px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 1101px;
  margin: 0px auto;
  flex: 1 1 auto;
}

/*------Содержание1--------*/
.block-one {
  width: 1600px;
  height: 469px;
  background-color: #f7f7f7;
}

.block-one-icon {
  text-align: center;
  padding-top: 117px;
  padding-bottom: 35px;
}

.block-one-title {
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #353738;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
  padding-bottom: 35px;
}

.block-one-text {
  width: 1080px;
  height: 190px;
  font-size: 18px;
  line-height: 34px;
  color: #848789;
  font-weight: 400;
  font-family: "Lato";
  text-align: center;
}

/*------Содержание2--------*/
.block-three {
  width: 1600px;
  height: 600px;
}

.block-three-row {
  display: flex;
}

.block-three-1 {
  background: url("../img/Layer10.png") no-repeat left;
  width: 1067px;
  height: 600px;
  display: flex;
}

.block-three-1-icon {
  width: 113px;
  height: 118px;
  margin: 25% auto;
}

.block-three-2 {
  width: 533px;
  height: 410px;
  background-color: #ffffff;
  text-align: center;
}

.block-three-2-icon {
  padding-top: 68px;
  padding-bottom: 31px;
}

.block-three-2-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #353738;
  padding-bottom: 24px;
}

.block-three-2-text {
  max-width: 398px;
  max-height: 134px;
  margin: 0px auto;
}

.bt2-text {
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  font-weight: 400;
  font-family: "Lato";
  text-align: left;
}

.block-three-2-text-back {
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  margin: 0px auto;
  margin-top: 65px;
}

.block-three-3 {
  width: 533px;
  height: 200px;
}

/* ---------Содержание3----------------- */
.block-four {
  width: 1600px;
  height: 600px;
  overflow: hidden;
}

.block-four-1_2 {
  width: 537px;
  height: 601px;
}

.block-four-row {
  display: flex;
}

.block-four-1 {
  width: 535px;
  height: 410px;
}

.block-four-1-icon {
  text-align: center;
  padding-top: 61px;
  padding-bottom: 29px;
}

.block-four-1-title {
  padding-bottom: 26px;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #353738;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.block-four-1-text {
  margin: 0px auto;
  padding-bottom: 20px;
  max-width: 397px;
}

.bf1-text {
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  font-weight: 400;
  font-family: "Lato";
  text-align: left;
}

.block-four-back {
  margin: 0px auto;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.block-four-2 {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.b-f2-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-four-right {
  width: 1067px;
  height: 600px;
  background: url("../img/Layer12.png");
}

.block-four-1-right-logo {
  text-align: center;
  margin: 25% auto;
}

/* -----------Содержание4------------------------- */
.block-two-i-know-i-have-a-math-problem {
  width: 1600px;
  height: 600px;
  overflow: hidden;
}

.block-two-i-know-i-have-a-math-problem-row {
  display: flex;
}

.block-two-i-know-i-have-a-math-problem-one {
  width: 533px;
  height: 600px;
  background: url("../img/Layer15.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-two-i-know-i-have-a-math-problem-two {
  width: 538px;
  height: 601px;
}

.block-two-i-know-i-have-a-math-problem-up {
  width: 538px;
  height: 413px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.block-two-i-know-i-have-a-math-problem-two-img {
  padding-top: 58px;
  padding-bottom: 20px;
}

.block-two-i-know-i-have-a-math-problem-two-title {
  padding-bottom: 26px;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #353738;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.block-two-i-know-i-have-a-math-problem-two-text {
  width: 397px;
  height: 147px;
  margin: 0px auto;
  margin-bottom: 50px;
}

.btikihamptt {
  font-size: 16px;
  line-height: 30px;
  color: #848789;
  font-weight: 400;
  font-family: "Lato";
  text-align: left;
}

.block-two-i-know-i-have-a-math-problem-two-back {
  margin: 0px auto;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
}

.block-two-i-know-i-have-a-math-problem-down {
  height: 200px;
  width: 100%;
}

.tretched-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-two-i-know-i-have-a-math-problem-two-right {
  width: 534px;
  height: 600px;
}

/* --------------Содержание5--------------------- */
.block-five {
  width: 1600px;
  height: 470px;
  width: 1600px;
  height: 469px;
  background-color: #f7f7f7;
  text-align: center;
}

.block-five-icon {
  padding-top: 124px;
  padding-bottom: 37px;
}

.block-five-title {
  padding-bottom: 27px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #353738;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

.block-five-title-opa {
  opacity: 0.5;
}

.block-five-text {
  margin: 0px auto;
  width: 1080px;
  height: 65px;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
}

.block-five-scrol {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 103px;
}

.block-five-scrol-row {
  display: flex;
  gap: 5px;
}

.block-five-scrol-item1 {
  border: 1px solid rgba(0, 0, 0, 0.11);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.158);
}

.block-five-scrol-item2 {
  border: 1px solid rgba(0, 0, 0, 0.096);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(116, 116, 116, 0.014);
}

.block-five-scrol-item3 {
  border: 1px solid rgba(0, 0, 0, 0.096);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(116, 116, 116, 0.014);
}

/* ----------Содержимое6--------------- */
.block-six {
  width: 1600px;
  height: 534px;
  overflow: hidden;
}

.block-six-colum-row {
  display: flex;
}

.block-six-colum-up {
  width: 533px;
  height: 534px;
}

.block-six-colum-up-row {
  display: flex;
}

.block-six-two-colum {
  width: 534px;
  height: 534px;
}

.block-six-two-colum-row {
  display: flex;
}

.block-six-three-colum {
  width: 533px;
  height: 534px;
}

.block-six-three-colum-down-row {
  display: flex;
}

/* -----------Содержание7--------------- */
.block-seven {
  width: 1600px;
  height: 200px;
  background-color: #282f35;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btr {
  width: 300px;
  height: 50px;
}
.btr :hover {
  background-color: white;
  background-size: 300 50;
  color: black;
  transition: all 2s;
}

._blank {
  width: 300px;
  height: 50px;
}

.btr-btr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.btr-btr :hover {
  background-color: white;
  color: black;
  transition: all 2s;
  box-shadow: 0px 0px 15px white;
}

.btr-a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 300px;
  height: 50px;
}

.discover {
  transition: all 2s;
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: "Lato";
  text-align: center;
}

/* -------------Содержание8---------------------- */
.block-eight {
  width: 1600px;
  height: 470px;
  text-align: center;
  background-color: #ffffff;
}

.block-eight-icon {
  padding-top: 107px;
  padding-bottom: 39px;
}

.block-eight-title {
  margin: 0px auto;
  width: 899px;
  height: 33px;
  font-size: 24px;
  line-height: 34px;
  color: #848789;
  font-weight: 400;
  font-style: italic;
  font-family: "Lato";
  text-align: center;
  margin-bottom: 34px;
}

.block-eight-row {
  display: flex;
  text-align: center;
  justify-content: center;
}

.block-eight-email :hover {
  box-shadow: 0px 0px 15px #00ff9d;
  background-color: #282f35;
}
.block-eight-email :focus {
  box-shadow: 0px 0px 20px black;
  transition: all 0.8s;
  background-color: white;
}

.b-e-e-btr {
  font-size: 30px;
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  transition: all 0.8s;
}

.b-e-e-btr::-moz-placeholder {
  opacity: 0.502;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #929292;
  font-style: italic;
  font-family: "Lato";
}

.b-e-e-btr::placeholder {
  opacity: 0.502;
  padding-left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #929292;
  font-style: italic;
  font-family: "Lato";
}

.block-gogo {
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  width: 126px;
  height: 69px;
  height: 100%;
  margin-left: 7px;
  transition: all 1.5s;
}
.block-gogo :hover {
  background-color: white;
  transition: all 1s;
}

.gogo-butt {
  background-color: #64c29e;
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.gogo-butt :hover {
  color: #28f8ff;
  font-weight: 700;
  transition: all 1.5s cubic-bezier(0, 0, 0.05, 3.55);
  border-radius: 50%;
  background: url("../img/github-mark.svg") no-repeat center;
  box-shadow: 0px 0px 10px black;
}

.gogo-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 69px;
}

.gogo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 69px;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Lato";
  transition: all 1.5s;
}

/* ---------Содержание9------------------ */